<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="static/build/css/bootstrap.min.css" >

	<!-- Optional theme -->
	<link rel="stylesheet" href="static/build/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="static/build/css/ds-diget.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	

	<!-- Latest compiled and minified JavaScript -->
	<script src="static/build/js/bootstrap.min.js" ></script>
	<style>
		.counter-display {
			background: black;
			position: relative;
    	    width: 100%;
			padding-bottom: 60%;
			float: left;
			height: 0;
			margin: 0 0 20px 0;
		}
		.counter-lcd {
			fill: rgb(100,255,255);
			filter:url(#glow);
		}

		.counter-display svg {
			font-family: 'ds-digitalitalic';
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    left: 0;
		}

		input[type="checkbox"].check-toggle {
		    display: none;
		}

		input[type=checkbox].check-toggle + label:before {
		  font-family: FontAwesome;
		  display: inline-block;
		}
		
		input[type=checkbox].check-toggle + label { font-size: 1.5em;  } /* unchecked icon */
		input[type=checkbox].check-toggle + label:before { content: "\f096";} /* unchecked icon */
		input[type=checkbox].check-toggle + label:before { letter-spacing: 11px; } /* space between checkbox and label */

		input[type=checkbox].check-toggle:checked + label:before { content: "\f046"; } /* checked icon */
		input[type=checkbox].check-toggle:checked + label:before { letter-spacing: 8px; } /* allow space for check mark */
		
		#navbar-clock
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
	height: 50px;
	padding: 15px;
	font-size: 18px;
	line-height: 20px;
}
	</style>
	
	<!-- jQuery + jQuery-UI -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<!-- keyboard -->
	<link href="keyboard.min.css" rel="stylesheet">
	<link href="jquery-ui.css" rel="stylesheet">
	<!-- <link href="https://code.jquery.com/ui/1.11.4/themes/dot-luv/jquery-ui.css" rel="stylesheet"> -->
	<script src="jquery.keyboard.min.js"></script>
	<!-- keyboard extensions (optional) -->
	<script src="jquery.mousewheel.min.js"></script>



	<!-- <script src="ng-virtual-keyboard.js"></script> -->

</head>
<body>
	
 	<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Маслораздача</a>
          </div>
          <p id="navbar-clock" class="hidden-xs"> </p>
          <div id="navbar" class="">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="">
Настройки <i class="fa fa-cogs fa-lg	"></i></span></a></li>
              <li><a href="#">Администратор <span class="fa fa-power-off fa-lg"></span></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

	<div class="container" ng-app="Maslo" ng-controller="IssueManuallCtrl" >
		<div class="row"><h2 class="text-center">ПИСТОЛЕТ №1 <b>Моторное масло №1</b></div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="row"><h3>К выдаче:<h3></div>
				<form class="form-horizontal">	
  					<div class="form-group">
  						<div class="input-group">
      						<div class="input-group-addon">Литров: </div>
  							<input id="value-for-amount" ng-readonly="unlimited || issue_flag "  type="text" class="form-control input-lg text-right" ng-model="volum" ng-virtual-keyboard="tVolumConfig">
					        <div class="input-group-addon">
					        	<input type="checkbox" ng-disabled="issue_flag " class="check-toggle" id="in-facts" ng-model="unlimited">
					        	<label for="in-facts">Выдать по факту</label>
					        </div>
					    </div>
					 </div>
					 <div class="form-group">
						<label for='comment'><h3>Примечание</h3></label>
					 	<textarea class="form-control" rows="6" name="comment" ng-model="comment"></textarea>
					 </div>

				</form>
				
				<div class="row"></div>
			</div>
			<div class="col-xs-12 col-md-6 ">
				<div class="row"><h3>Статус: <span class="statusBar">{{current_state}}</span><h3> </div>
				<diget-display value="current_value"></diget-display>
			</div>
	    </div>
	    <div class="row">
		    <div class="btn-group btn-group-justified" role="group">
		    	<a href="/fluid/given/" ng-disabled="issue_flag " class="btn btn-default btn-lg" role="button">Назад</a>
		    	<buttom ng-if="!issue_flag" ng-click='startIssue()' href="#" class="btn  btn-success btn-lg" role="button">Начать выдачу</buttom>
		    	<buttom ng-if="issue_flag" ng-click='stopIssue()' href="#" class="btn  btn-danger btn-lg" role="button">Остнановить выдачу</buttom>
		    </div>
	    </div>
	<div class="row">
		
	</div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script>
	(function (angular) {

angular.module('ng-virtual-keyboard', [])

.constant('VKI_CONFIG', {

})

.service('ngVirtualKeyboardService', ['VKI_CONFIG', function(VKI_CONFIG) {
	var clone = function(obj){
			var copy;

			// Handle the 3 simple types, and null or undefined
			if (null === obj || 'object' !== typeof obj) {
				return obj;
			}


			// Handle Date
			if (obj instanceof Date) {
					copy = new Date();
					copy.setTime(obj.getTime());
					return copy;
			}

			// Handle Array
			if (obj instanceof Array) {
					copy = [];
					for (var i = 0, len = obj.length; i < len; i++) {
							copy[i] = clone(obj[i]);
					}
					return copy;
			}

			// Handle Object
			if (obj instanceof Object) {
					copy = {};
					for (var attr in obj) {
							if (obj.hasOwnProperty(attr)) {
								copy[attr] = clone(obj[attr]);
							}
					}
					return copy;
			}

			throw new Error('Unable to copy obj! Its type isn\'t supported.');
	};

	var executeGetKeyboard = function(elementReference){
		var keyboard;
		var element = $(elementReference);
		if (element) {
			keyboard = $(elementReference).getkeyboard();
		}
		return keyboard;
	};

	return {
		attach: function(element, config, inputCallback){
			var newConfig = clone(VKI_CONFIG);

			config = config || {};

			for (var attr in config) {
				if (config.hasOwnProperty(attr)) {
					newConfig[attr] = config[attr];
				}
			}

			newConfig.accepted = config.accepted || inputCallback;

			var keyboard = $(element).keyboard(newConfig);

			if (keyboard && newConfig.extensions) {
				for (var extension in newConfig.extensions) {
					var extConfig = newConfig.extensions[extension];
					if (extConfig) {
						keyboard[extension](extConfig);
					} else {
						keyboard[extension]();
					}
				}
			}
		},
		getKeyboard: function(elementReference){
			return executeGetKeyboard(elementReference);
		},
		getKeyboardById: function(id){
			return executeGetKeyboard('#' + id);
		}
	};
}])

.directive('ngVirtualKeyboard', ['ngVirtualKeyboardService', '$timeout',
	function(ngVirtualKeyboardService, $timeout) {
	return {
		restrict: 'A',
		require : '?ngModel',
		scope: {
			config: '=ngVirtualKeyboard'
		},
		link: function(scope, elements, attrs, ngModelCtrl) {
			if(!ngModelCtrl){
				return;
			}

			ngVirtualKeyboardService.attach(elements[0], scope.config, function() {
				$timeout(function() {
					ngModelCtrl.$setViewValue(elements[0].value);
				});
			});
		}
	};
}]);

})(angular);

	var val_cache;
	var toType = function(obj) {
  return ({}).toString.call(obj).match(/\s([a-zA-Z]+)/)[1].toLowerCase()
}
		var app = angular.module('Maslo', ['ng-virtual-keyboard']);
		app.config(['VKI_CONFIG', function(VKI_CONFIG){
			VKI_CONFIG.position = {
				of: 'body',
				my: 'center top',
				at: 'center bottom'
			};
			VKI_CONFIG.tabNavigation = true;

			VKI_CONFIG.extensions = {
				addTyping: false
			};
		}])
		app.controller('IssueManuallCtrl', function($scope,$interval,ngVirtualKeyboardService) {
		    	$scope.tVolumConfig = {
				display: {
					'bksp'   :  "\u2190",
					'accept' : 'Ввод'
				},
				layout: 'custom',
				customLayout: {
					'normal': [
						'1 2 3 ',
						'4 5 6 ',
						'7 8 9 ',
						'. 0  {bksp}',
						'{accept} '
					]}

			};
		    $scope.current_value= val_cache || 0.0;
		    $scope.current_state= "";
		    $scope.issueIntervalHandler = undefined;
		    $scope.issue_flag = false;

		    $scope.startIssue = function(){
		    	if ($scope.unlimited) 
		    		$scope.volum = 0;
		  		$scope.issue_flag= true;
		    	$scope.current_state = 'Произодиться выдача';
		    	$scope.current_value = 0;
		    	$scope.issueIntervalHandler = $interval(function(){
		    		if ((Number($scope.current_value) < $scope.volum) || ($scope.unlimited)) {
		    			var  tmp_val = Number($scope.current_value) + 0.1;
		    			$scope.current_value = tmp_val.toFixed(1)
		    		} else {
		    			$scope.stopIssue();
		    		}

		    	},200)
		    }
		    $scope.stopIssue = function(){
		    	if ($scope.unlimited) {
		    		$scope.volum =  $scope.current_value;
		    	}
		    	console.log($scope.current_value);
		    	val_cache = $scope.current_value;
		    	$scope.current_value = Number($scope.volum) || "0.0";
		    	$scope.current_state = 'Выдача завершена';
		    	$interval.cancel($scope.issueIntervalHandler);
		    	$scope.issueIntervalHandler = undefined;
		    	$scope.issue_flag = false;
		    }

		});
		app.directive('digetDisplay', function(){
			return {
				restrict: 'E',
				scope: {
				    value: '=value'
				},
			  	templateUrl: "static/build/template/diget-display.html"
		}});
	</script>
	<script type="text/javascript">
		var clock = (function clock(clockNode){
		    clockNode = clockNode || document.querySelector('#navbar-clock');
		    //var currentTime,hours,minutes,seconds,timeOfDay;
		    return function()
		    {
		        /*currentTime = new Date();
		        hours = currentTime.getHours();
		        minutes = currentTime.getMinutes();
		        seconds = currentTime.getSeconds();
		        timeOfDay = (hours < 12) ? 'AM' : 'PM';*/
		        //clockNode.innerHTML = (hours + ":" + minutes + ":" + seconds + timeOfDay);
		        clockNode.replaceChild(
		            document.createTextNode(
		                (new Date()).toLocaleTimeString()
		            ),
		            clockNode.childNodes.item(0)
		        );
		    };
		}(document.querySelector('#navbar-clock')));
		var clockInterval = setInterval(clock, 1000);
	</script>
</body>
</html>
